
.product-screen.screen.oe_hidden {
    display: block !important;
}


.screen .screen-content {
    background: #f0eeee;
    margin-left: 440px !important;
 
}

button.input-button.number-char {
    background: green;
}

@media screen and (max-width: 800px)  {
  .payment-screen .payment-buttons .button:last-child {
    margin-top: 300px;
    float: inherit;
    width: 230px;
}


button.input-button.number-char {
    background: red;
}



}

